<table class="table">
  <tr>
    <th>Name</th>
    <th>Task type</th>
    <th>Priority</th>
    <th>Deadline</th>
    <th>Status</th>
    <th>Change status</th>
  </tr>
  {% for task in task_list %}
    <tr>
      <td>
        <a href="{% url "task_manager_app:task-detail" pk=task.id %}">
          {{ task.name }}
        </a>
      </td>
      <td>
        {{ task.task_type }}
      </td>
      <td>
        {{ task.priority }}
      </td>
      <td>
        {{ task.deadline }}
      </td>
      <td>
        {{ task.is_completed|yesno:"Completed,In progres" }}
      </td>
      <td>
        {% include "includes/task_toggle_completed_button.html" with task=task %}
      </td>
    </tr>
  {% endfor %}
</table>
