{% extends "base.html" %}
{% block content %}
  <h1>Task types list
    <a href="{% url "task_manager_app:task-type-create" %}" class="btn btn-primary link-to-page">
      Create
    </a>
  </h1>
  <hr>
  <br>
  {% if task_type_list %}
    {% for task_type in task_type_list %}
      <a href="{% url "task_manager_app:task-type-detail" pk=task_type.id %}">
        <p>{{ task_type }}</p>
      </a>
      <hr>
    {% endfor %}
  {% else %}
    <p>there are no task types</p>
  {% endif %}
{% endblock %}
